body {
    font-family: Arial, sans-serif;
    background-color:rgba(132, 130, 79, 0.294);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .input-group input[type="text"],
  .input-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .input-group input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .input-group input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  .bottom-text {
    text-align: center;
    margin-top: 15px;
  }
  
  .bottom-text a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
  }
  
  .bottom-text a:hover {
    text-decoration: underline;
  }